.product-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: $grid-gutter-width * .5;

  &__quantity {
    margin-right: $grid-gutter-width;
    max-width: 100px;
  }

  &__addons{
    &-title{
      display: block;
      color: $primary;
      &:hover{
        cursor: pointer;
        color: rgba($primary, .8);
        transition: $btn-transition;
      }
    }
  }
}